<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />

    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>SHOP</title>
</head>

<body>

    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.0/lib/anime.min.js"></script>

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="mainSign" src="/assets/FinalPhantasy.png"> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/members">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stage1">Fight</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Stats</a>
                </li>

                
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Shop</a>
                </li>
            </ul>
        <div class="gold">Gil: <span> {{stats.gil}} </span></div>
        </div>
    </nav>

    <div class="card-container">
        
        <div class="card" style="width: 18rem;">
            <img src="./assets/sword.png" class="card-img-top " alt="sword" />
            <div class="card-body whiteFont">
                <h5>Sword</h5>
                <ul>
                    <li>Attack: 3</li>
                    <li>Defense: 5</li>
                    <li>Speed: 5</li>
                    <li>Gil: 5</li>
                </ul>
                <a href="#" id="sword" data="sword" class="btn btn-primary buy">Buy</a>
            </div>
        </div>
 
        <div class="card" style="width: 18rem;">
            <img src="/assets/axe.png" class="card-img-top " alt="axe" />
            <div class="card-body whiteFont">
                <h5>Axe</h5>
                <ul>
                    <li>Attack: 4</li>
                    <li>Defense: 3</li>
                    <li>Speed: 3</li>
                    <li>Gil: 5</li>
                </ul>
                <a href="#" id="axe" data="axe" class="btn btn-primary buy">Buy</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="/assets/hammer.png" class="card-img-top" alt="hammer" />
            <div class="card-body whiteFont">
                <h5>Mace</h5>
                <ul>
                    <li>Attack: 5</li>
                    <li>Defense: 2</li>
                    <li>Speed: 2</li>
                    <li>Gil: 5</li>
                </ul>
                <a href="#" id="hammer" data="hammer" class="btn btn-primary buy">Buy</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="/assets/potion.png" class="card-img-top" alt="potion" />
            <div class="card-body whiteFont">
                <h5>Potion</h5>
                <ul>
                    <li>HP+: 20</li>
                    <li>Gil: 10</li>
                </ul>
                <a href="#" id="potion" data="potion" class="btn btn-primary buy">Buy</a>
            </div>
        </div>

        <div class="card" id="lightarmor" style="width: 18rem;">
            <img src="/assets/lightarmor.png" class="card-img-top" id="lightarmor" alt="Light Armor" />
            <div class="card-body whiteFont">
                <h5>Light Armor</h5>
                <ul>
                    <li>HP: 15</li>
                    <li>Attack: 0</li>
                    <li>Defense: 20</li>
                    <li>Speed: -3</li>
                    <li>Gil: 15</li>
                </ul>
                <a href="#" id="light" data="light" class="btn btn-primary buy">Buy</a>
            </div>
        </div>

        <div class="card" id="heavyarmor" style="width: 18rem;">
            <img src="/assets/heavyarmor.png" class="card-img-top" alt="Heavy Armor" />
            <div class="card-body whiteFont">
                <h5>Heavy Armor</h5>
                <ul>
                    <li>HP: 30</li>
                    <li>Attack: 0</li>
                    <li>Defense: 50</li>
                    <li>Speed: -10</li>
                    <li>Gil: 25</li>
                </ul>
                <a href="#" id="heavy" data="heavy" class="btn btn-primary buy">Buy</a>
            </div>
        </div>
    </div>

    <br>

    <img class="tifaStore" src="/assets/tifa.png" width="250" height="300"> 
    <img class="cloudStore" src="/assets/cloudStrife.png" width="300" height="300"> 

    <img class="storeSign storeItem" src="/assets/FinalPhantasy.png" width="300" height="300"> 

    <script src="js/store.js"></script>

    <footer class="footer">Game 2020</footer>
</body>

</html>