<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />

    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title>SHOP</title>
</head>

<body>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30"
                class="d-inline-block align-top" alt="" loading="lazy" />
            Shop
        </a>
        <div class="gold">Gil: <span>0</span></div>
    </nav>
    <div class="card" style="width: 18rem;">
        <img src="/assets/sword.png" class="card-img-top " alt="sword" />
        <div class="card-body">
            <h5>Sword</h5>
            <ul>
                <li>Attack: 3</li>
                <li>Defense: 5</li>
                <li>Speed: 5</li>
                <li>Gil: 5</li>
            </ul>
            <a href="#" data= "sword" class="btn btn-primary buy">Buy</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/assets/axe.png" class="card-img-top " alt="axe" />
        <div class="card-body">
            <h5>Axe</h5>
            <ul>
                <li>Attack: 4</li>
                <li>Defense: 3</li>
                <li>Speed: 3</li>
                <li>Gil: 5</li>
            </ul>
            <a href="#" data="axe" class="btn btn-primary buy">Buy</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/assets/hammer.png" class="card-img-top" alt="hammer" />
        <div class="card-body">
            <h5>Hammer</h5>
            <ul>
                <li>Attack: 5</li>
                <li>Defense: 2</li>
                <li>Speed: 2</li>
                <li>Gil: 5</li>
            </ul>
            <a href="#" data="hammer"class="btn btn-primary buy">Buy</a>
        </div>
    </div>
    <div class="card" id="potion" style="width: 18rem;">
        <img src="/assets/potion.png" class="card-img-top" alt="potion" />
        <div class="card-body">
            <h5>Potion</h5>
            <ul>
                <li>HP+: 20</li>
                <li>Gil: 10</li>
            </ul>
            <a href="#" data="potion"class="btn btn-primary buy">Buy</a>
        </div>
    </div>
    <div class="card" id="lightarmor" style="width: 18rem;">
        <img src="/assets/lightarmor.png" class="card-img-top" alt="potion" />
        <div class="card-body">
            <h5>Light Armor</h5>
            <ul>
                <li>HP: 15</li>
                <li>Attack: 0</li>
                <li>Defense: 20</li>
                <li>Speed: -3</li>
                <li>Gil: 15</li>
            </ul>
            <a href="#" data="light" class="btn btn-primary buy">Buy</a>
        </div>
    </div>
    <div class="card" id="heavyarmor" style="width: 18rem;">
        <img src="/assets/heavyarmor.png" class="card-img-top" alt="potion" />
        <div class="card-body">
            <h5>Heavy Armor</h5>
            <ul>
                <li>HP: 30</li>
                <li>Attack: 0</li>
                <li>Defense: 50</li>
                <li>Speed: -10</li>
                <li>Gil: 25</li>
            </ul>
            <a href="#" data="heavy" class="btn btn-primary buy">Buy</a>
        </div>
</body>

</html>