form.signup,
form.login {
  margin-top: 50px;
}

.footer {
  text-align: center;
  color: snow;
  background-color: black;
}
.navbar {
  padding-bottom: 20px;
}
.card {
  float: left;
}

body {
  background-image: url(/assets/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* height: 100vh;
  display: flex; */
  /* flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px; */
}
.card-body {
  background-image: url(/assets/brick.png);
  background-size: cover;
  background-position: center;
}

#lightarmor {
  padding-bottom: 12px;
}

h5 {
  text-align: center;
  color: aliceblue;
  text-size-adjust: 50px;
}

li {
  color: aliceblue;
}

.card-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.begin-btn {
  margin-top: 100px;
  /* display: flex;
  justify-content: center; */
  background-color: aqua;
  color: red;
  font-weight: bold;
  font-size: x-large;
  font-family: cursive;
  border-radius: 50px;
  padding: 50px;
}

.login-container {
  color: red;
  font-family: cursive;
}
